<% @messages.last(100).each do |message| %>
	<div class="row">
		<% if message.user.id == current_user.id %>
			<div class="offset-lg-6 col-lg-6" style="text-align: right; margin-bottom: 3px;">
				<div  class="theme-color" style="
					border-radius: 5px;
					padding: 3px 10px;
					display: inline-block;
					text-align: left;">
					<%= message.content %>
				</div>
			</div>
		<% else %>
			<div class="col-lg-6" style="text-align: left; margin-bottom: 3px;">
				<%= message.user.name %>
				<br>
				<div  class="theme-color" style="
					border-radius: 5px;
					padding: 3px 10px;
					display: inline-block;">
					<%= message.content %>
				</div>
			</div>
			<div class="col-lg-6">
			</div>
		<% end %>
	</div>
<% end %>