<% @messages.last(100).each do |message| %>
	<div class="row pr-3 pl-3">
		<% if message.user.id == current_user.id %>
			<div class="offset-lg-6 col-lg-6" style="text-align: right; margin-bottom: 3px; width: 100%;">
				<div  class="font-white self-message">
					<p class="mb-0"><%= message.content %></p>
				</div>
			</div>
		<% else %>
			<div class="col-lg-6" style="text-align: left; margin-bottom: 3px;">
				<p class="mb-0" style="color: #fff;"><%= message.user.name %>
				<br>
				<div  class="font-white other-message" style="background-color: #FF4F02; color: #fff;">
					<p class="mb-0"><%= message.content %></p>
				</div>
			</div>
			<div class="col-lg-6">
			</div>
		<% end %>
	</div>
<% end %>