<div class="row">
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4 side-space">
		<div class="row" style="height: 200px;">
		</div>
		<h2>本当に削除しますか？</h2>
		<p>削除すると、このグループの情報が全て消えてしまいますが本当によろしいですか？</p>
		<br>
		<%= link_to '削除する',group_path(@group),method: :delete, class: "btn btn-danger form-control" %>

		<%= link_to 'やめる', group_path(@group), class: "btn btn-primary form-control" %>

	</div>
</div>