/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap";
 @import "froala_editor.min";
 @import "froala_style.min";
 @import 'plugins/char_counter.min.css';
 @import 'plugins/code_view.min.css';
 @import 'plugins/colors.min.css';
 @import 'plugins/emoticons.min.css';
 @import 'plugins/file.min.css';
 @import 'plugins/fullscreen.min.css';
 @import 'plugins/image_manager.min.css';
 @import 'plugins/image.min.css';
 @import 'plugins/line_breaker.min.css';
 @import 'plugins/quick_insert.min.css';
 @import 'plugins/table.min.css';
 @import 'plugins/video.min.css';


*{
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}


.title{
  display: none;
  color: #fff;
  font-family: cursive;
  text-shadow: 2px 2px 3px #000;
  font-size: 100px;
}

.board{
  padding: 10px;
  border-radius: 10px;
  background-image: image-url("CorkBoard.png");
  background-size: auto, auto;
  background-position: center;
  border: #F4A460 10px ridge;
  margin: 0 auto;
  overflow: auto;
  width: 80%;
  height: 50vh;
}

.side-space {
  padding: 0 30px;
}

.main-image{
  background-image: image-url("top.png");
  min-height: 100vh;
  max-height: 100%;
  background-size: cover;
  background-position: 50% 150vh;
}
#contact-tab-menu h4{
  padding-top: 8px;
}

.tab-menu .active {
  color: red;
}

.tab-menu th {
  text-align: center;
  padding: 0;
  border-left: 1px solid #dee2e6;;
  border-right: 1px solid #dee2e6;;
}
// ===== チャットのスクロール ===============
.chat-scroll {
    height: 70vh;
    overflow: auto;
    padding:10px;
}
// =======================================


// ===== ナビゲーションバー ==================
.navbar-expand-lg .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'
  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,255)'
  stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-expand-lg, .navbar-expand-lg:hover,.navbar-expand-lg:focus{
  background-color: #99CCFF;
}

.dropdown-menu,.dropdown-menu:focus{
  background-color: #99CCFF;
  border: 1px solid #fff;
}
// =========================================


// ===== footer ============================

.footer-color{
  color: #fff;
  background-color: #000;
}

.footer-color:hover, .footer-color:focus{
  background-color: #99CCFF;
  color: #00FF3B;
}

// =========================================


// ===== 画像 ============================

.circle{
  border-radius: 50%;
}

.square{
  border-radius: 10px;
}
// ======================================





// ===== 文字 ============================
p{
   word-wrap:break-word;
}

.header-color, .header-color-red{
  color: #fff;
}

.header-color:hover{
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 3px #000;
  transition: all 0.3s ease 0s;
  transform: translateY(-0.1875em);
}

theme-color:focus,theme-color:active{
  color: #00FF3B;
  text-decoration: none;
  text-shadow: 2px 2px 3px #000;
  transition: all 0.3s ease 0s;
  transform: translateY(-0.1875em);
}

.header-color-red:hover{
  color: #FF69A3;
  text-decoration: none;
  text-shadow: 2px 2px 3px #000;
  transition: all 0.3s ease 0s;
  transform: translateY(-0.1875em);
}

.logout{
  color: #fff;
}

.theme-color{
  color: #666666;
}

.theme-color:hover,theme-color:focus,theme-color:active{
  color: #00FF3B;
  text-decoration: none;
  text-shadow: 2px 2px 3px #000;
}

.font-red{
  color: #666666;
}
.font-red:hover,font-red:focus,font-red:active{
  color: #FF69A3;
  text-decorarion: none;
  text-shadow: 2px 2px 3px #000;
}

.font-white{
  color: #666666;
}

.text-center{
  text-align: center;
}

// ========================================




// ===== btn ==============================
.btn:hover,.btn:active,.btn:focus {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
}

#submit:focus {
  color: #fff;
  box-shadow: none;
  outline-color: none;
  outline-offset: none;
  text-shadow: none;
}

notification-button{
  width: 50%;
  height: 55%;
  padding: 0;
}

.btn-outline-warning:hover{
  color: #fff;
}
// ========================================




// ===== form =============================
.form-control,.form-control:focus,.form-control:active {
  outline: none;
  box-shadow: none;
}
.form {
  background-color: rgba(0,0,0,0);
  border: 1px solid #666666;
  color: #666666;
}

.form:hover,.form:active {
  color: #666666;
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#search,#search:focus,#search-tag,#search-tag:focus{
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  color: #fff;
}

.file{
  background-color: rgba(0,0,0,0);
  border: none;
  color: #808080;
}
// ========================================


// ===== link ============================


a:hover{
  text-decoration: none;
}

.link{
  background-color: rgba(0,0,0,0);
  color: #666666;
  border: none;
}

.link:hover,.link:active,.link:focus{
  background-color: rgba(0,0,0,0);
  text-shadow: 2px 2px 3px #000;
  color: #00FF3B;
  text-decoration: none;
  border-bottom: 1px solid #00FF3B;
}

.link-danger{
  background-color: rgba(0,0,0,0);
  color: #666666;
  border: none;
}

.link-danger:hover,.link-danger:active,.link-danger:focus{
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid #FF69A3;
  text-shadow: 2px 2px 3px #000;
  color: #FF69A3;
  text-decoration: none;
}
// ========================================



// ===== 日記の画像 =========================
.diary img{
  max-width: 100%;
}
video{
  max-width: 100%;
}
// =========================================


// ===== PCのみ反映させる ====================
@media (min-width: 769px) {
  .link_footer{
    display: none;
  }

  .scroll{
    overflow: auto;
    height: 600px;
  }

  body{
    position: relative;
  }
  .main-content{
    background-color: rgba(255,255,255,0.5);
    height: 800px;
  }


}
// ==========================================
















// ===== メディアクエリ ===========================================================


@media (max-width: 768px) {

   footer {
    display: none;
  }


  // ===== 日記でyoutubeが投稿されたときにサイズを調整 ======
  iframe{
    max-width: 100%;
    height: auto;
  }
  // ===================================================


  // ===== タイトルを画面幅によって調整 ====================
  .title{
    font-size: 50px;
  }
  // ===================================================


  // ===== pc以外はfooterを表示させない ===================
  footer {
    display: none;
  }
  // ====================================================


  // ===== ヘッダーとフッターの固定 =======================

  body{
    position: relative;
    width: 100%;
    height: 100%;
  }

  header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 87px;
    z-index: 10;
  }

  .main-content{
    position: absolute;
    top: 87px;
    margin-bottom: 45px;
    padding-bottom: 50px;
    z-index: 5;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
  }

  .link_footer{
    background-color: #808080;
  }

  .link-footer-font{
  color: #fff;
  }

  .link-footer-font:hover, .link-footer-font:focus{
    color: #00FF3B;
  }
  .media-bar{
    width: 100%;
    height: 60px;
  }

  .media-button{
    width: 20%;
  }
  // =====================================================

  .main-image{
    background-position: 50% 100vh;
  }

  .diary img{
    min-width: auto;
    min-height: 100%;
  }

  .circle, .square{
    max-height: 15vh;
    max-width: 15vh;
  }

  h2{
    font-size: 20px;
  }

  h4{
    font-size: 15px;
  }

  p{
    margin-bottom: 0;
    font-size: 10px;
  }

  .scroll{
    height: 65vh;
    overflow: auto;
  }

  .chat-scroll{
    height: 50vh;
    overflow: auto;
    padding:10px;
  }

  .board{
  padding: 10px;
  border-radius: 10px;
  background-image: image-url("CorkBoard.png");
  background-size: auto, auto;
  background-position: center;
  border: #F4A460 10px ridge;
  margin: 0 auto;
  overflow: auto;
  width: 80%;
  height: 40vh;
  }

  .comment-time{
  padding-top: 6px;
  }

  .destroy-comment-btn{
  padding-top: 4px;
  }
}



@media (max-width: 425px){

  .diary img{
    min-width: auto;
    min-height: 100%;
  }

}
