<div class="row side-space">
	<div class="offset-lg-3 col-lg-6">
		<h4>ユーザー詳細</h4>
		<br>
		<p>ユーザーイメージ</p>
		<br>
		<%= @user.id %>
		<%= @user.name %>
		<br>
		<% if @user.valid_status == "active" %>
			<%= link_to 'アカウントを凍結する', admin_user_path(id: @user.id, status: "is_deleted"),method: :put, class: "btn btn-danger form-control" %>
		<% else %>
			<%= link_to '凍結を解除する', admin_user_path(id: @user.id, status: "active"),method: :put, class: "btn btn-primary form-control" %>
		<% end %>
	</div>
</div>